# Dependencies
node_modules/

# Build output
dist/
coverage/

# Environment variables (ห้าม commit เด็ดขาด)
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/

dist/meta.json

docs/index.html

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json